@import "./index.scss";
.mint-header {
  height: pxToRem(90);
  padding: 0 pxToRem(30);
  color: $baseWhite;
  font-size: pxToRem(38);
  background: linear-gradient($lightBlack, $deepBlack);
}

.mint-loadmore-top {
  margin-top: -60px;
  padding-bottom: pxToRem(10);
  font-size: pxToRem(36);
}

.mint-tab-item-icon {
  width: pxToRem(50);
  height: pxToRem(50);
}

.mint-tab-item-label {
  text-align: center;
  line-height: pxToRem(32);
  font-size: pxToRem(28);
}

.mint-tabbar {
  top: 1px;
  bottom: 1px;
  background: $baseWhite;

  &>.mint-tab-item {
    color: $noActiveNav;
  }
  &>.mint-tab-item.is-selected {
    color: $deepBlack20;
  }
}
