$lightBlack: #323232;

$deepBlack: #101010;
$deepBlack20: #201500;

$baseWhite: #ffffff;

$baseGray: #f4f4f4;
$deepGray: #e6e5e2;

$fontGray: #797366;

$lightGray: #8f8a7f;
$baseYellow: #fce76c;
$deepYellow: #e6c317;

$noActiveNav: #a6a199;
